<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="SqlServer" connectionString="TEST_SQLSERVER_CONNECTION_STRING_APP.CONFIG"/>
        <add name="MongoServer" connectionString="TEST_MONGO_CONNECTION_STRING_APP.CONFIG"/>
    </connectionStrings>
    <appSettings>
        <add key="FtpUri" value="sftp://test-user:test-password@test.server.test:22/Test/Path" />
        <add key="DownloadPath" value="TEST_DIRECTORY_PATH" />
        <add key="SuperFileToImport" value="TEST_SUPERFILE_FILE_NAME" />
    </appSettings>
</configuration>